<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>My Palindrome Checker</title>
    <link rel="stylesheet" href="/public/css/main.css"> 
</head>
<body>
    <main>
        <header>
            <h1>My Palindrome Checker</h1>
        </header>
        
        {{{body}}}
    </main>
    <footer>
        <p>Name: Alex Supkay</p>
        <p>ID: 12345678 (Faked for security reasons)</p>
        <p>Favorite Color: Red</p>
    </footer>

    <script src="/public/js/form.js"></script>
</body>
</html>
